#intro{
  text-align: center;
}

#homeImage{
	width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#h1Intro{
  color: #6E0707;
}

#pIntro{
  color: #024423;
}

.foods{
  color:#386D02;
}

.thColor{
  color:red;
}